USE [master]
GO
/****** Object:  Database [PETSHOP]    Script Date: 2/13/2025 8:43:57 PM ******/
CREATE DATABASE [PETSHOP]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PETSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PETSHOP]
GO
/****** Object:  User [dut]    Script Date: 2/13/2025 8:43:57 PM ******/
CREATE USER [dut] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[id_role] [int] NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[id_employee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[category_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [varchar](255) NULL,
	[customer_name] [varchar](255) NULL,
	[phone_number] [varchar](11) NULL,
	[email] [nvarchar](255) NULL,
	[address] [text] NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [varchar](255) NULL,
	[employee_name] [varchar](255) NULL,
	[phone_number] [varchar](11) NULL,
	[email] [nvarchar](255) NULL,
	[id_role] [int] NULL,
	[address] [text] NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_details]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_detail_code] [varchar](255) NULL,
	[id_product_detail] [int] NULL,
	[id_pet] [int] NULL,
	[duration] [nvarchar](255) NULL,
	[usage_or_quantity] [int] NULL,
	[price] [decimal](18, 2) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[id_invoice] [int] NULL,
	[id_service_detail] [int] NULL,
 CONSTRAINT [PK__invoice___3213E83F82226472] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_code] [varchar](255) NULL,
	[id_customer] [int] NULL,
	[id_employee] [int] NULL,
	[total_price] [decimal](18, 2) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[payment_status] [bit] NULL,
	[note] [nvarchar](max) NULL,
	[costs_incurred] [decimal](18, 2) NULL,
	[payment_method] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_care_service]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_care_service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NULL,
	[service_start] [date] NULL,
	[service_end] [date] NULL,
	[actual_end] [date] NULL,
	[notes] [text] NULL,
	[created_at] [date] NULL,
	[service_status] [nvarchar](250) NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pets]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_code] [varchar](255) NULL,
	[pet_name] [varchar](255) NULL,
	[id_customer] [int] NULL,
	[id_type_pet] [int] NULL,
	[breed] [nvarchar](255) NULL,
	[weight] [decimal](5, 2) NULL,
	[color] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[vaccinated] [bit] NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[owner] [nvarchar](50) NULL,
	[age] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_details]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_detail_code] [varchar](255) NULL,
	[product_detail_name] [nvarchar](255) NULL,
	[id_type_pet] [int] NULL,
	[weight] [decimal](5, 2) NULL,
	[quantity_in_stock] [int] NULL,
	[flavor] [nvarchar](255) NULL,
	[describe] [text] NULL,
	[price] [decimal](18, 2) NULL,
	[image_path] [varchar](255) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[id_product] [int] NULL,
	[bar_code] [nchar](30) NULL,
	[production_date] [date] NULL,
	[expirydate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](255) NULL,
	[product_name] [nvarchar](255) NULL,
	[id_category] [int] NULL,
	[price_base] [decimal](18, 2) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_details]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_code] [varchar](255) NULL,
	[service_name] [nvarchar](255) NULL,
	[id_service_type] [int] NULL,
	[price_service] [decimal](18, 2) NULL,
	[describe_service] [text] NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[duration] [int] NULL,
	[time_unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_pets]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_pets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_pet_name] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[type_pet_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_services]    Script Date: 2/13/2025 8:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_service_name] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[is_deleted] [bit] NULL,
	[is_status] [bit] NULL,
	[type_service_code] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_type_products_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customers_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF_employees_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_details] ADD  CONSTRAINT [DF_invoice_details_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pets] ADD  CONSTRAINT [DF_pets_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_details] ADD  CONSTRAINT [DF_product_details_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_products_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_details] ADD  CONSTRAINT [DF_service_details_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[type_pets] ADD  CONSTRAINT [DF_type_pets_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[type_services] ADD  CONSTRAINT [DF_type_services_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_roles] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_roles]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_invoices] FOREIGN KEY([id_invoice])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_invoices]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_pets] FOREIGN KEY([id_pet])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_pets]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_product_details] FOREIGN KEY([id_product_detail])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_product_details]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_service_details] FOREIGN KEY([id_service_detail])
REFERENCES [dbo].[service_details] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_service_details]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_customers] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_customers]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_employees] FOREIGN KEY([id_employee])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_employees]
GO
ALTER TABLE [dbo].[pet_care_service]  WITH CHECK ADD  CONSTRAINT [FK_pet_care_service_pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[pet_care_service] CHECK CONSTRAINT [FK_pet_care_service_pets]
GO
ALTER TABLE [dbo].[pet_care_service]  WITH CHECK ADD  CONSTRAINT [FK_pet_care_service_service_details] FOREIGN KEY([service_id])
REFERENCES [dbo].[service_details] ([id])
GO
ALTER TABLE [dbo].[pet_care_service] CHECK CONSTRAINT [FK_pet_care_service_service_details]
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD  CONSTRAINT [FK_pets_customers] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[pets] CHECK CONSTRAINT [FK_pets_customers]
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD  CONSTRAINT [FK_pets_type_pets] FOREIGN KEY([id_type_pet])
REFERENCES [dbo].[type_pets] ([id])
GO
ALTER TABLE [dbo].[pets] CHECK CONSTRAINT [FK_pets_type_pets]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_details_products] FOREIGN KEY([id_product])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_details_products]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [FK_product_details_type_pets] FOREIGN KEY([id_type_pet])
REFERENCES [dbo].[type_pets] ([id])
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [FK_product_details_type_pets]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_type_products] FOREIGN KEY([id_category])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_type_products]
GO
ALTER TABLE [dbo].[service_details]  WITH CHECK ADD  CONSTRAINT [FK_service_details_type_services] FOREIGN KEY([id_service_type])
REFERENCES [dbo].[type_services] ([id])
GO
ALTER TABLE [dbo].[service_details] CHECK CONSTRAINT [FK_service_details_type_services]
GO
USE [master]
GO
